@import "partials/variables";
@font-face {
    font-family: AveFedan;
    src: url('../fonts/AveFedan.ttf');
}
@font-face {
    font-family: retro;
    src: url('../fonts/Retrochips.otf');
}
@font-face {
    font-family: Poetsen;
    src: url('../fonts/PoetsenOne-Regular.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Helvetica', sans-serif;
    color: $text-color-black;
    background-image: url("../img/sitebg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left, center 0;
    background-attachment: fixed;
}

body {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.8rem;
    font-weight: 500;
}

img {
    width: 100%;
}

@import "partials/reusable";
@import "partials/header";
@import "partials/images";
@import "partials/about";
@import "partials/portfolio";
@import "partials/experience";
@import "partials/contact";
@import "partials/animations";
@import "partials/responsive";