body {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 95px;
    font: 20px "Raleway", sans-serif;
    color: black;
    background-image: url("/public/img/sitebg.jpg");
    background-repeat: repeat, no-repeat;
    background-size: auto, cover;
    background-position: top left, center 0;
    background-attachment: fixed, fixed;
    overflow: hidden;
}

h1 {
    font-size: 50px;
    color: #0072BB;
    text-align: center;
}

article {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 650px;
    margin: 0 auto;
    line-height: 27px;
}

a {
    color: #ED6A5E;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: bold;
}

a:hover {
    color: #3498DB;
    text-decoration: none;
}

.version {
    text-align: center;
    font-variant: small-caps;
    margin-top: 3rem;
}