/*------------------------------------*\
    $BASE
\*------------------------------------*/
@font-face {
  font-family: AveFedan;
  src: url("../fonts/AveFedan.ttf");
}
@font-face {
  font-family: retro;
  src: url("../fonts/Retrochips.otf");
}
@font-face {
  font-family: Poetsen;
  src: url("../fonts/PoetsenOne-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Helvetica", sans-serif;
  color: #000;
  background-image: url("../img/sitebg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left, center 0;
  background-attachment: fixed;
}

body {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  font-weight: 500;
}

img {
  width: 100%;
}

/*------------------------------------*\
    $REUSABLE
\*------------------------------------*/
.container {
  margin: 0 auto;
  max-width: 100%;
  width: 1140px;
  border-radius: 15px;
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3);
}
.container:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.sectionHeading {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 2rem;
}
.sectionHeading h1 {
  font-size: 3.5rem;
  color: #223645;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  margin-top: -10rem;
  font-family: "AveFedan", sans-serif;
}
.sectionHeading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.sectionHeading h6 {
  font-size: 1.6rem;
  font-weight: 300;
  color: #2B7199;
  margin-bottom: 1rem;
  font-family: "retro";
}

.sectionHeading h1::before,
.sectionHeading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #B83A1B;
}

.box {
  position: relative;
  margin-top: 30rem;
  margin-bottom: 30rem;
}
.box:after {
  content: "";
  display: block;
  position: absolute;
  top: -30rem;
  left: 50%;
  height: 13rem;
  border-left: solid 1px #000;
}
.box:before {
  content: "";
  display: block;
  width: 90px;
  height: 66px;
  position: absolute;
  left: 50%;
  top: -14rem;
  margin-left: -45px;
  margin-top: -30px;
  background: url("../img/arrow.svg") no-repeat;
}
.box :last-child {
  margin-bottom: 0;
}
.box.style {
  background: #FFF;
  padding: 3em;
}
.box.style .boxImage {
  display: block;
  position: absolute;
  top: 0;
  width: 50%;
  height: 100%;
  background: transparent;
  overflow: hidden;
}
.box.style .imageLeft img {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
}
.box.style .inner > :last-child {
  margin: 0;
}
.box.style.textRight .imageLeft {
  left: 0;
}
.box.style.textRight .imageLeft img {
  right: 0;
}
.box.style.textRight .inner {
  margin-left: 50%;
  padding-left: 3em;
}
.box.style.textRight .imageRight {
  left: 0;
}
.box.style.textRight .imageRight img {
  right: 0;
}
.box.style.textLeft .imageLeft {
  right: 0;
}
.box.style.textLeft .imageLeft img {
  left: 0;
}
.box.style.textLeft .inner {
  margin-right: 50%;
  padding-right: 3em;
}
.box.style.textLeft .imageRight {
  right: 0;
}
.box.style.textLeft .imageRight img {
  left: 0;
}
.box.style .imageRight img {
  position: absolute;
  top: 0;
  height: 100%;
  width: auto;
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
header {
  width: 100%;
  height: 100%;
}

.topNav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-image: url("../img/sitebg.jpg");
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  background-position: top left, center 0;
  background-attachment: fixed, fixed;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}
.topNav.open {
  top: 0;
  border-radius: initial;
}
.topNav .navLogo {
  position: absolute;
  width: 128px;
  height: 128px;
  left: 5rem;
  top: 0;
}

.navList {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.navLink {
  font-family: "retro", sans-serif;
  font-size: 4rem;
  padding: 1rem;
  color: #223645;
}

.navLink:hover,
.navLink:focus {
  background-color: #B83A1B;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.menuToggler {
  position: absolute;
  top: 0;
  right: 5rem;
  width: 5rem;
  height: 0rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
}

.menuIcon {
  margin-top: 4rem;
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}
.menuIcon span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 22px;
  height: 3px;
  background-color: #B83A1B;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
.menuIcon span::after {
  -webkit-transform: translateY(8px) !important;
  -ms-transform: translateY(8px) !important;
  transform: translateY(8px) !important;
}
.menuIcon:hover span::before {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}
.menuIcon:hover span::after {
  -webkit-transform: translateY(10px) !important;
  -ms-transform: translateY(10px) !important;
  transform: translateY(10px) !important;
}
.menuIcon.isOpened {
  position: fixed;
  margin-top: 4rem;
}

.menuIcon span::before,
.menuIcon span::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 3px;
  background-color: #B83A1B;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.menuIconSvg span {
  -webkit-transition: background 0.5s steps(1, end);
  transition: background 0.5s steps(1, end);
}
.menuIconSvg svg {
  opacity: 0;
  fill: transparent;
  stroke-width: 3px;
  stroke: #B83A1B;
  stroke-dasharray: 22 230;
  -webkit-transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
}
.menuIconSvg.isOpened span {
  -webkit-transition: background 0.5s steps(1, start);
  transition: background 0.5s steps(1, start);
  background-color: transparent;
}
.menuIconSvg.isOpened span::before {
  -webkit-transform: translateX(-3px) translateY(-8px) rotate(-45deg);
  -ms-transform: translateX(-3px) translateY(-8px) rotate(-45deg);
  transform: translateX(-3px) translateY(-8px) rotate(-45deg);
}
.menuIconSvg.isOpened span::after {
  -webkit-transform: translateX(-3px) translateY(8px) rotate(45deg) !important;
  -ms-transform: translateX(-3px) translateY(8px) rotate(45deg);
  transform: translateX(-3px) translateY(8px) rotate(45deg);
}
.menuIconSvg.isOpened svg {
  opacity: 1;
  -webkit-transition: opacity 0.5s steps(1, start);
  transition: opacity 0.5s steps(1, start);
  -webkit-animation: pathanimation 0.5s linear;
  animation: pathanimation 0.5s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}
.menuIconSvg.isClosed svg {
  -webkit-animation: pathanimation-out 0.5s linear;
  animation: pathanimation-out 0.5s linear;
}

.menuIconSvg span::before,
.menuIconSvg span::after {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.landingText {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-top: 250px;
  margin-bottom: 250px;
}
.landingText h1 {
  font-size: 15rem;
  font-family: "AveFedan", sans-serif;
  color: #223645;
  user-select: none;
  border: none !important;
}
.landingText h6 {
  font-size: 6rem;
  font-weight: 900;
  font-family: Poetsen;
  color: #B83A1B;
}

/*------------------------------------*\
    $IMAGES
\*------------------------------------*/
.imageLeft {
  display: inline-block;
  border: 0;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.imageLeft.fit {
  display: block;
  width: 100%;
}
.imageLeft img {
  display: block;
  width: 100%;
}

.imageRight {
  display: inline-block;
  border: 0;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.imageRight.fit {
  display: block;
  width: 100%;
}
.imageRight img {
  display: block;
  width: 100%;
}

/*------------------------------------*\
    $ABOUT
\*------------------------------------*/
.about {
  margin-top: 0rem;
}
.about::before {
  display: none;
}
.about::after {
  display: none;
}

.aboutHeading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
  margin-top: 3rem;
}
.aboutHeading h1 {
  font-size: 10rem;
  opacity: 0.3;
}
.aboutHeading h6 {
  font-size: 2rem;
  font-weight: 600;
}

.aboutImage {
  width: 20rem;
  height: 20rem;
}

.aboutDescription {
  font-weight: 600;
}

.aboutCv {
  width: 100%;
  margin-bottom: 1.5rem;
  text-align: center;
}
.aboutCv button {
  position: relative;
  width: 50%;
  background-color: #B83A1B;
  color: #EEE;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: background 650ms;
  margin-top: 1.5rem;
  margin-left: 0;
  font-size: 25px;
}
.aboutCv button i {
  margin-left: 1rem;
  font-size: 25px;
}
.aboutCv button:hover {
  color: #B83A1B;
  background-color: #FFF;
}

/*------------------------------------*\
    $PORTFOLIO
\*------------------------------------*/
.portfolioDescription {
  flex: 1;
}
.portfolioDescription h1 {
  font-size: 3rem;
  font-weight: 300;
  font-family: "retro", sans-serif;
  font-variant: small-caps;
  color: #B83A1B;
  margin: 1rem 0;
}
.portfolioDescription h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "retro", sans-serif;
  font-weight: 300;
  opacity: 0.8;
  color: #000;
}
.portfolioDescription p {
  font-weight: 600;
}
.portfolioDescription .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "retro", sans-serif;
  color: #2B7199;
  transition: color 650ms;
}
.portfolioDescription .cta:hover {
  color: #2B7199;
}

.portfolio {
  margin-bottom: -27rem;
}

.portfolioUp::after {
  top: -29.75rem;
  height: 19rem;
}
.portfolioUp::before {
  top: -20rem;
}
.portfolioUp:hover .portfolioDescription .cta {
  transition: color 0.6s ease;
  color: #B83A1B;
}
.portfolioUp:hover .portfolioDescription .cta:hover {
  transition: color 0.6s ease;
  color: #2B7199;
}

.portfolioDown {
  margin-top: -10rem;
}
.portfolioDown::before {
  top: -10rem;
}
.portfolioDown::after {
  height: 20rem;
  top: -20rem;
}
.portfolioDown:hover .portfolioDescription .cta {
  transition: color 0.6s ease;
  color: #B83A1B;
}
.portfolioDown:hover .portfolioDescription .cta:hover {
  transition: color 0.6s ease;
  color: #2B7199;
}

/*------------------------------------*\
    $EXPERIENCE
\*------------------------------------*/
.experienceHeading {
  margin-bottom: -28rem;
}

.experience {
  margin-bottom: -11rem;
}
.experience::after {
  top: -28.5rem;
  height: 19rem;
}
.experience::before {
  top: -19rem;
}

.timelineDate {
  position: absolute;
  top: 5px;
  left: 500px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  color: #FFF;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  background-color: #B83A1B;
  border-radius: 50%;
}

.timelineDateDay {
  display: block;
  font-size: 14px;
}

.timelineBody {
  position: relative;
  padding: 20px;
  height: 100%;
}

.timelineCategory {
  position: absolute;
  left: 20px;
  top: -15px;
  height: 25px;
  padding: 0 15px;
  color: #FFF;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  background-color: #B83A1B;
}

.timelineTitle {
  margin: 0;
  padding: 10px 0 15px;
  font-size: 22px;
  color: #000;
  font-weight: bold;
}

.timelineSubtitle {
  margin: 0;
  padding: 0 0 15px;
  font-size: 19px;
  color: #B83A1B;
}

.timelineDescription {
  color: #000;
  text-align: justify;
  font-size: 14px;
  font-weight: 600;
  line-height: 27px;
}

/*------------------------------------*\
    $CONTACT-FOOTER
\*------------------------------------*/
.contactForm {
  width: 100%;
  margin: 0 auto;
}
.contactForm label {
  font-size: 1.5rem;
  color: #B83A1B;
}

.mapouter {
  position: relative;
  margin: 0 0 3rem;
  text-align: right;
  height: 100%;
  width: 100%;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0px;
  overflow: none;
  margin: none;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  border: 1px solid #B83A1B;
  outline-color: #000;
  border-radius: 0.8rem;
}

input[type=submit] {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  background-color: #20A00F;
  color: #EEE;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: background 650ms;
  margin-bottom: 1rem;
}
input[type=submit]:hover {
  color: #F5F5F5;
  background-color: #138609;
}

.contact {
  margin-bottom: 5rem;
}
.contact::after {
  height: 19rem;
  top: -19rem;
}
.contact::before {
  top: -10rem;
}

.footerContainer {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.footerContainer img.logo {
  width: 150px;
  height: 150px;
}
.footerContainer .up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #B83A1B;
  top: 0;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}
.footerContainer .up i {
  color: #DCDCDC;
  font-size: 2rem;
  margin: auto;
}

.leftCol {
  width: 45%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.leftCol .rightsText {
  font-variant: small-caps;
  font-weight: 600;
}
.leftCol .version {
  margin-top: 0.5rem;
}

.rightCol {
  width: 55%;
  padding-bottom: 3rem;
}
.rightCol h1 {
  font-size: 26px;
  color: #2B7199;
}
.rightCol .border {
  margin: 0.8rem 0;
  width: 100px;
  height: 4px;
  background: #B83A1B;
}
.rightCol .aboutSiteText {
  width: 85%;
}

.btn {
  display: inline-block;
  width: 90px;
  height: 90px;
  background: transparent;
  margin-top: -1rem;
  margin-bottom: 2rem;
  border-radius: 30%;
  box-shadow: 0 5px 15px -5px black;
  color: #B83A1B;
  overflow: hidden;
  position: relative;
}
.btn i {
  line-height: 90px;
  font-size: 36px;
  transition: 0.2s linear;
}
.btn::before {
  content: "";
  position: absolute;
  width: 120%;
  height: 120%;
  background: #B83A1B;
  transform: rotate(45deg);
  left: -110%;
  top: 90%;
}
.btn:hover i {
  transform: scale(1.3);
  color: #f1f1f1;
}
.btn:hover::before {
  animation: socialButton 0.7s 1;
  top: -10%;
  left: -10%;
}

/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(184, 58, 27, 0.99);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(184, 58, 27, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(184, 58, 27, 0);
  }
}
@keyframes titleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0 5px 5px transparent;
  }
}
@keyframes subtitleBlur {
  0% {
    opacity: 0.6;
    text-shadow: 0 5px 5px rgba(184, 58, 27, 0.6);
  }
  100% {
    opacity: 1;
    text-shadow: 0 5px 5px rgba(184, 58, 27, 0);
  }
}
@keyframes pathanimation {
  40% {
    stroke-dasharray: 22 230;
  }
  60% {
    stroke-dashoffset: -65;
  }
  100% {
    stroke-dashoffset: -65;
    stroke-dasharray: 160;
  }
}
@keyframes pathanimation-out {
  100% {
    stroke-dashoffset: 0;
  }
  60% {
    stroke-dasharray: 22 230;
  }
  40% {
    stroke-dashoffset: -65;
  }
  0% {
    stroke-dashoffset: -65;
    stroke-dasharray: 160;
  }
}
@keyframes socialButton {
  0% {
    left: -110%;
    top: 90%;
  }
  50% {
    left: 10%;
    top: -30%;
  }
  100% {
    top: -10%;
    left: -10%;
  }
}
/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
@media screen and (max-width: 600px) {
  .landingText h1 {
    font-size: 8rem;
  }
  .landingText h6 {
    font-size: 1.4rem;
  }

  .aboutDetails {
    padding-left: 3rem;
  }

  .portfolioDescription {
    margin: 0;
    order: 2;
  }

  .timelineDate {
    opacity: 0;
  }

  form {
    width: 100%;
  }

  .up {
    right: 2rem;
  }
}
@media screen and (max-width: 768px) {
  section {
    padding: 0;
  }

  .landingText h1 {
    font-size: 10rem;
  }
  .landingText h6 {
    font-size: 1.7rem;
  }

  .aboutHeading h1 {
    font-size: 8rem;
  }

  .sectionHeading h6 {
    font-size: 2rem;
  }

  .aboutDetails {
    padding-left: 4rem;
  }
  .aboutDetails .navList {
    flex-direction: initial;
  }
  .aboutDetails li {
    margin: 0 2rem;
  }

  .portfolioDescription {
    margin: 0;
    order: 2;
  }

  .timelineBody {
    padding: 10px;
  }

  .timelineCategory {
    left: 10px;
  }

  .timelineDate {
    left: 275px !important;
  }

  .footerContainer {
    max-width: 600px;
    position: relative;
  }
  .footerContainer .up {
    right: 1rem;
    top: -4rem;
  }

  .rightCol {
    width: 100%;
    margin-bottom: 0;
  }
  .rightCol .aboutSiteText {
    width: 100%;
  }

  .leftCol {
    width: 100%;
    text-align: center;
  }
}
@media screen and (max-width: 980px) {
  .navLink {
    font-size: 6rem;
  }

  .navList {
    flex-direction: column;
  }
  .navList li {
    margin: 2rem 0;
  }

  article {
    padding: 0 2rem;
  }

  .timelineDate {
    left: 400px;
  }
}
@media screen and (max-width: 1100px) {
  .navLink {
    font-size: 3rem;
  }
}
@media screen and (max-width: 1280px) {
  .navLink {
    font-size: 3.5rem;
  }
}
@media screen and (max-width: 1680px) {
  .container {
    width: 85%;
  }
}
@media screen and (max-width: 1080px) {
  header {
    padding: 5rem 0;
  }

  .landingText h1 {
    font-size: 13rem;
  }
  .landingText h6 {
    font-size: 4rem;
  }

  .container {
    width: 95%;
  }
}
/*------------------------------------*\
    CSS FILE END
\*------------------------------------*/
