:root {
  --primary-color: #6200EE;
  --primary-variant: #3700B3;
  --secondary-color: #03DAC6;
  --secondary-variant: #018786;
  --background: #FFFFFF;
  --surface: #FFFFFF;
  --error: #B00020;
  --on-primary: #FFFFFF;
  --on-secondary: #000000;
  --on-background: #000000;
  --on-surface: #000000;
  --on-error: #FFFFFF;
  --white: #FFFFFF;
  --pre-release: #E45A15;
}

[data-theme=dark] {
  --primary-color: #BB86FC;
  --primary-variant: #3700B3;
  --secondary-color: #03DAC6;
  --background: #121212;
  --surface: #1E1E1E;
  --error: #CF6679;
  --on-primary: #000000;
  --on-secondary: #000000;
  --on-background: #FFFFFF;
  --on-surface: #FFFFFF;
  --on-error: #000000;
  --white: #FFFFFF;
  --pre-release: #E45A15;
}

/*------------------------------------*\
    $BASE
\*------------------------------------*/
@font-face {
  font-family: AveFedan;
  src: url("../fonts/AveFedan.ttf");
}
@font-face {
  font-family: retro;
  src: url("../fonts/Retrochips.otf");
}
@font-face {
  font-family: Poetsen;
  src: url("../fonts/PoetsenOne-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Helvetica", sans-serif;
  color: #000;
  overflow-x: hidden;
  background-color: var(--background) !important;
}

html[data-theme=dark] {
  background-color: var(--background) !important;
}

body {
  width: 100%;
  height: 100%;
}

a:any-link {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
.navbar {
  background-color: var(--background) !important;
}

.navbar-burger.burger {
  height: 70px !important;
  width: 70px !important;
  color: var(--primary-color);
}
.navbar-burger.burger:hover {
  color: var(--secondary-color);
}

.navbar-burger:hover {
  background-color: var(--surface) !important;
}

.navbar-logo {
  width: 50px;
  max-height: 50px !important;
  height: 50px;
  background-color: var(--secondary-color);
  border-radius: 12px;
}

.navbar-brand .navbar-item:hover {
  border-bottom: 1px solid transparent !important;
}

.navbar-item {
  color: var(--on-background) !important;
  margin: 0 1rem !important;
  border-bottom: 2px solid var(--background);
}

.navbar-menu.is-active {
  color: var(--on-background) !important;
  background-color: var(--background) !important;
}

.navbar-menu.is-active .navbar-item.is-active {
  background-color: var(--surface);
  border-bottom: 1px solid var(--secondary-color);
}

.navbar-menu.is-active .navbar-item:hover {
  background-color: var(--surface);
  color: var(--on-background);
  border-bottom: 1px solid var(--primary-color);
}

.navbar-menu.is-active .navbar-end .navbar-item:hover {
  border: none;
}
.navbar-menu.is-active .navbar-end .navbar-item:hover .buttons .button {
  background-color: var(--surface) !important;
}

a.navbar-item i {
  padding-right: 0.25rem;
}

a.navbar-item:hover {
  border-bottom: 2px solid var(--primary-color);
}

a.navbar-item.is-active {
  border-bottom: 2px solid var(--secondary-color);
}

.no-border {
  border: none !important;
  border-radius: 0 !important;
  border-bottom: 2px solid !important;
  border-bottom-color: transparent !important;
  transition: border-bottom-color 0.4s linear;
  background-color: var(--background) !important;
  color: var(--on-background) !important;
}
.no-border svg {
  color: var(--on-background);
}

.no-border:hover.github {
  border-bottom-color: var(--primary-color) !important;
}
.no-border:hover.cv {
  border-bottom-color: var(--secondary-color) !important;
}

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  border: none !important;
  background-color: transparent !important;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: var(--on-background);
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: var(--on-background);
}

input:checked + div.slider i.fa-moon {
  visibility: visible;
}

input:checked + .slider i.fa-sun {
  visibility: hidden;
}

.slider i.fa-moon {
  visibility: hidden;
  position: relative;
  padding-top: 0.625rem;
  padding-right: 0.25rem;
}

input:checked + .slider:before {
  transform: translateX(26px);
  background-color: var(--on-secondary);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.slider i.fa-sun {
  position: relative;
  padding-top: 0.5rem;
  padding-left: 0.25rem;
}

.fa-sun {
  color: #f39c12;
}

.fa-moon {
  color: #f1c40f;
}

.hero-image {
  position: relative;
  width: 500px;
  height: 400px;
  border-radius: 32px;
}

.half-column {
  text-align: center;
  display: flex !important;
  justify-content: center !important;
  flex-direction: column !important;
}
.half-column h1.title {
  color: var(--primary-color);
  font-size: 7rem;
  font-family: AveFedan;
  line-height: 1;
}
.half-column h2.subtitle {
  color: var(--secondary-color);
  font-size: 2.5rem;
  font-family: retro;
  padding-top: 1rem;
}

/*------------------------------------*\
    $TILES
\*------------------------------------*/
.tile .tile.is-child {
  padding: 0 !important;
  background-color: transparent !important;
  box-shadow: transparent !important;
  border-radius: 24px !important;
}
.tile .tile.is-child img {
  border-radius: 24px;
  width: 100%;
  height: 100%;
}

/*------------------------------------*\
    $CONTACT
\*------------------------------------*/
.contact {
  padding: 3.75rem !important;
}

h1.contact-title {
  color: var(--primary-color);
}

hr.contact-divider {
  width: 30%;
  height: 4px;
  border-radius: 24px;
  background-color: var(--secondary-color) !important;
}

p.contact-text {
  color: var(--primary-color) !important;
}
p.contact-text strong {
  color: var(--pre-release) !important;
}

input, textarea {
  background-color: var(--surface) !important;
  border: 1px solid var(--surface) !important;
  color: var(--on-background) !important;
}

html[data-theme=light] input {
  border: 1px solid transparent !important;
}
html[data-theme=light] input:focus {
  border-color: var(--on-background) !important;
}
html[data-theme=light] input:hover {
  border: 1px solid var(--on-background) !important;
}
html[data-theme=light] input:hover + span.icon {
  color: var(--on-background) !important;
}

html[data-theme=light] textarea {
  border: 1px solid transparent !important;
}
html[data-theme=light] textarea:focus {
  border-color: var(--on-background) !important;
}
html[data-theme=light] textarea:hover {
  border: 1px solid var(--on-background) !important;
}

label {
  color: var(--on-background) !important;
}

input:focus + span.icon {
  color: var(--on-background) !important;
}

input + span.icon {
  color: var(--on-background) !important;
}

input[type=checkbox] {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

/*------------------------------------*\
    $FOOTER
\*------------------------------------*/
.footer {
  background-color: var(--surface) !important;
  color: var(--primary-color) !important;
}

.breadcrumb ul li a {
  color: var(--primary-color) !important;
  transition: color 0.4s linear;
}
.breadcrumb ul li a:hover {
  color: var(--on-background) !important;
}
.breadcrumb ul li a i {
  padding-right: 0.25rem;
}
.breadcrumb ul li a svg {
  width: 24px;
  height: 24px;
  padding-right: 0.25rem;
}

.copy {
  font-size: 1rem;
  font-family: Helvetica, sans-serif;
}

.footer-button {
  border: none !important;
  background-color: var(--surface) !important;
  color: var(--on-background) !important;
  padding: 0.5em !important;
}

.footer-button .tag {
  background-color: var(--surface);
  color: var(--on-background);
}

.footer-button .tag .tag.version {
  background-color: var(--pre-release) !important;
  color: var(--white) !important;
  border-radius: 24px !important;
  font-weight: 600;
}

.footer-button.bck-top-btn {
  margin-bottom: 0.5rem;
}

.bulma {
  width: 128px;
  height: 24px;
  margin-top: calc(.5em - 1px);
  border-radius: 24px;
}

/*------------------------------------*\
    CSS FILE END
\*------------------------------------*/
