/*------------------------------------*\
    $BASE
\*------------------------------------*/
@font-face {
  font-family: AveFedan;
  src: url("../fonts/AveFedan.ttf");
}
@font-face {
  font-family: retro;
  src: url("../fonts/Retrochips.otf");
}
@font-face {
  font-family: Poetsen;
  src: url("../fonts/PoetsenOne-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Helvetica", sans-serif;
  color: #000;
  background-image: url("../img/site-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left, center 0;
  background-attachment: fixed;
  overflow-x: hidden;
}

body {
  width: 100%;
  height: 100%;
}

a:any-link {
  text-decoration: none;
}

p {
  font-size: 1.8rem;
  font-family: "Raleway", sans-serif;
}

img {
  width: 100%;
}

/*------------------------------------*\
    $REUSABLE
\*------------------------------------*/
.section {
  width: 100%;
  min-height: 350px;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1.5rem;
  font-family: "Helvetica", sans-serif;
}

.card {
  width: 100%;
  max-width: 98rem;
  padding: 3rem;
  background-color: #fff;
  box-shadow: 0 1.4rem 8rem rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  border-radius: 0.8rem;
}

.card-img {
  min-width: 50rem;
  max-width: 50rem;
  height: 40rem;
  transform: translateX(-8rem);
  position: relative;
}

.card-img img {
  width: 100%;
  height: 100%;
  object-fit: fill;
  display: block;
  border-radius: 0.8rem;
}

.card-date span {
  display: block;
  color: #3498DB;
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0.5rem 0;
}

.card-title {
  font-size: 2.5rem;
  margin: 1.5rem 0 2rem;
  text-transform: uppercase;
  color: #CA8E3F;
  font-family: "Raleway", sans-serif;
}

.card-text {
  margin-bottom: 3rem;
  font-size: 1.8rem;
  color: #000;
}

.card-text-end {
  margin-bottom: 0;
}

.card-cta {
  display: inline-block;
  padding: 1.5rem 3rem;
  margin-top: 2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.2rem;
  text-decoration: none;
  color: #fff;
  border-radius: 0.8rem;
  background-color: #CA8E3F;
  transition: 0.2s linear;
}
.card-cta:hover {
  transform: scale(1.2);
}

.center {
  text-align: center;
}

.timer {
  text-align: center;
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  padding-top: 1rem;
}

.section-heading {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 0;
}
.section-heading h1 {
  font-size: 3.5rem;
  color: #175676;
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
  font-family: "AveFedan", sans-serif;
}
.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
}
.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
  color: #3498DB;
  margin-bottom: 1rem;
  font-family: "retro";
}

.section-heading h1::before,
.section-heading h1::after {
  content: "";
  position: absolute;
  bottom: -0.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: #CA8E3F;
}

/*------------------------------------*\
    $HEADER
\*------------------------------------*/
header {
  width: 100%;
  min-height: 689px;
  height: 100%;
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/header-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 60px;
  background-color: #FFF;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
  padding: 0 5%;
  top: 0;
  z-index: 1000;
  position: fixed;
  width: 100%;
  border-bottom: 3px solid #0072BB;
}
.navbar .logo {
  color: #0072BB;
  font-size: 22px;
  width: 200px;
  font-family: AveFedan;
}
.navbar ul {
  display: flex;
  list-style: none;
}
.navbar ul.navbar-list {
  display: flex;
  align-items: center;
}
.navbar ul li a {
  margin: 30px;
  color: #3498DB;
  font-size: 15px;
  font-weight: 500;
  font-family: Poetsen;
}
.navbar ul li a.active {
  background-color: #0072BB;
  padding: 5px;
  border-radius: 10px;
  color: #FFF;
}
.navbar ul li a .github {
  font-size: 30px;
}
.navbar .burger {
  display: none;
  cursor: pointer;
}
.navbar .burger div {
  width: 25px;
  height: 5px;
  background-color: #CA8E3F;
  margin: 5px;
  transition: all 0.5s ease;
}

.toggle .line-1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line-2 {
  opacity: 0;
}

.toggle .line-3 {
  transform: rotate(45deg) translate(-8px, -9px);
}

.header-text {
  position: absolute;
  left: 13%;
  top: 58%;
  transform: translate(-13%, -58%);
}
.header-text h1 {
  font-family: AveFedan;
  font-weight: bold;
  color: #CA8E3F;
  font-size: 8rem;
}
.header-text h3 {
  font-family: retro;
  font-weight: bold;
  letter-spacing: 1px;
  color: #3498DB;
  font-size: 30px;
}
.header-text h1,
.header-text h3 {
  margin: 55px 0 25px;
}
.header-text button {
  width: auto;
  padding: 10px;
  height: 42px;
  border-radius: 10px;
  font-family: Poetsen;
  font-weight: bold;
  font-size: 14px;
  outline: none;
  margin: 20px 0;
}
.header-text button.cv, .header-text button.home-return {
  background-color: #FFF;
  color: #0072BB;
  border: 3px solid #0072BB;
  transition: all 1s ease;
}
.header-text button:hover {
  background-color: #0072BB;
  color: #FFF;
}
.header-text button:active {
  transform: scale(1.1);
}

/*------------------------------------*\
    $ABOUT
\*------------------------------------*/
.about {
  margin-top: 13rem;
  margin-bottom: 13rem;
}

.about-hidden {
  padding-top: 1.5rem;
  visibility: hidden;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
  margin-top: 3rem;
}
.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}
.about-heading h6 {
  font-size: 2rem;
  font-weight: 600;
}

.about-description {
  line-height: 24px;
}

/*------------------------------------*\
    $PORTFOLIO
\*------------------------------------*/
.portfolio-hidden {
  padding-top: 6rem;
  visibility: hidden;
}

.portfolio-description {
  flex: 1;
}
.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  font-family: "retro", sans-serif;
  font-variant: small-caps;
  color: #0072BB;
  margin: 1rem 0;
}
.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: "retro", sans-serif;
  font-weight: 300;
  opacity: 0.8;
  color: #175676;
}

.portfolio {
  margin-top: 3rem;
  margin-bottom: 4rem;
}

.portfolio-down {
  margin-top: 10rem !important;
}

/*------------------------------------*\
    $EXPERIENCE
\*------------------------------------*/
.exp-hidden {
  padding-top: 0;
  visibility: hidden;
}

.exp-heading {
  margin-bottom: 2rem;
}

.experience {
  margin-bottom: 8rem;
}

.exp-date {
  position: relative;
  top: 5px;
  left: 90%;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  color: #FFF;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  background-color: #CA8E3F;
  border-radius: 50%;
}

.exp-date-day {
  display: block;
  font-size: 14px;
}

.exp-body {
  position: relative;
  padding: 20px;
  height: 100%;
}

.exp-category {
  position: absolute;
  left: 20px;
  top: -15px;
  height: 25px;
  padding: 0 15px;
  color: #FFF;
  font-size: 14px;
  line-height: 25px;
  text-transform: uppercase;
  background-color: #CA8E3F;
}

.exp-title {
  margin: 0;
  padding: 10px 0 15px;
  font-size: 22px;
  color: #0072BB;
  font-weight: bold;
}

.exp-subtitle {
  margin: 0;
  padding: 0 0 15px;
  font-size: 19px;
  color: #3498DB;
}

.exp-description {
  text-align: justify;
  line-height: 27px;
}

/*------------------------------------*\
    $CONTACT-FOOTER
\*------------------------------------*/
.contact-hidden {
  padding-top: 8rem;
  visibility: hidden;
}

.contact-heading {
  margin-top: 0 !important;
}

.contact {
  margin-bottom: 5rem;
}

.contact-form {
  width: 100%;
  margin: 0 auto;
}
.contact-form label {
  font-size: 1.5rem;
  color: #0072BB;
}

.mapouter {
  position: relative;
  margin: 0 0 3rem;
  text-align: right;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
}

iframe {
  width: 100%;
  height: 100%;
  border: 0;
  overflow: none;
  margin: none;
  border-radius: 0.8rem;
}

.gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 100%;
  width: 100%;
  border-radius: 0.8rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin: 1rem 0;
  border: 1px solid #3498DB;
  outline-color: #3498DB;
  border-radius: 0.8rem;
}

input[type=submit] {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 75%;
  background-color: #20A00F;
  color: #F5F5F5;
  padding: 1rem 2rem;
  border-radius: 0.8rem;
  border: none;
  cursor: pointer;
  transition: background 650ms;
  margin-bottom: 1rem;
}
input[type=submit]:hover {
  color: #F5F5F5;
  background-color: #138609;
}

.footer {
  max-width: 1300px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap-reverse;
}
.footer img.logo {
  width: 150px;
  height: 150px;
}
.footer .up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #0072BB;
  top: 0;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}
.footer .up i {
  color: #F5F5F5;
  font-size: 2rem;
  margin: auto;
}

.left {
  width: 45%;
  text-align: center;
  justify-content: center;
  align-items: center;
  padding-bottom: 3rem;
}
.left .badge {
  display: inline-block;
  padding: 0.25em 0.5em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: center;
  border-radius: 0.25rem;
  background-color: #CA8E3F;
}
.left .badge.rounded-pill {
  border-radius: 50rem !important;
}
.left .copy-text {
  font-variant: small-caps;
  font-weight: 600;
}
.left .version {
  margin-top: 0.25rem;
  margin-bottom: 0.5rem;
}

.right {
  width: 55%;
  padding-bottom: 3rem;
}
.right h1 {
  font-size: 26px;
  color: #0072BB;
}
.right .border {
  margin: 0.8rem 0;
  width: 35%;
  height: 4px;
  border-radius: 15px;
  background: #CA8E3F;
}
.right .footer-text {
  width: 85%;
}

/*------------------------------------*\
    $ANIMATIONS
\*------------------------------------*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 114, 187, 0.99);
  }
  70% {
    box-shadow: 0 0 0 20px rgba(0, 114, 187, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(0, 114, 187, 0);
  }
}
@keyframes navbar-fade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/
@media screen and (max-width: 600px) {
  .about-details {
    padding-left: 3rem;
  }

  .portfolio-description {
    margin: 0;
    order: 2;
  }

  .up {
    right: 2rem;
  }
}
@media screen and (max-width: 768px) {
  .navbar .logo {
    visibility: visible;
    text-align: center;
  }
  .navbar ul {
    position: absolute;
    top: 8.3vh;
    right: 0;
    height: 92vh;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .navbar ul li {
    opacity: 0;
  }
  .navbar ul li a:any-link {
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .navbar ul li a:any-link.active {
    padding: 15px;
  }
  .navbar .burger {
    display: block;
  }
  .navbar .navbar-active {
    transform: translateX(0%);
    overflow-y: hidden;
  }

  .header-text {
    display: flex;
    align-items: center;
    margin: 0 5rem;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  .header-text h1 {
    text-align: center;
    font-size: 70px;
  }
  .header-text h3 {
    font-size: 40px;
  }
  .header-text h1,
.header-text h3 {
    margin: 25px 0 5px;
  }

  .card {
    padding: 2.5rem;
    flex-direction: column;
    margin-top: 7rem !important;
  }

  .card-img {
    min-width: 100% !important;
    max-width: 100% !important;
    margin-bottom: -6rem;
    transform: translate(0, -8rem);
  }

  .about-hidden {
    padding-top: 3rem;
  }

  .about {
    margin-top: 1rem;
    margin-bottom: 0;
  }

  .about-details {
    margin-top: 4rem;
  }

  .about-heading {
    margin-bottom: 4rem;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .section-heading h6 {
    font-size: 2rem;
  }

  .portfolio {
    padding-top: 0;
    margin-bottom: -2rem;
  }

  .portfolio-description {
    margin: 0;
    order: 2;
  }

  .exp-heading {
    margin-bottom: -2rem;
  }

  .exp-hidden {
    margin-bottom: -3rem;
  }

  .exp-body {
    padding: 10px;
  }

  .exp-category {
    left: 10px;
    width: auto;
  }

  .footer {
    max-width: 600px;
    position: relative;
  }
  .footer .up {
    right: 1rem;
    top: -4rem;
  }

  .right {
    width: 100%;
    margin-bottom: 0;
  }
  .right .footer-text {
    width: 100%;
  }

  .left {
    width: 100%;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 980px) {
  .navbar {
    align-items: center;
    justify-content: space-evenly;
    padding: 0;
  }
  .navbar .logo {
    visibility: visible;
  }
  .navbar ul li a:any-link {
    margin: 15px;
  }

  .card {
    padding: 2.5rem;
    flex-direction: column;
    max-width: 70rem;
    margin-top: 4rem;
  }
  .card.card-about {
    margin-top: 0 !important;
  }

  .card-img {
    min-width: 100% !important;
    max-width: 100% !important;
    transform: translate(0, -8rem);
    margin-bottom: -5rem;
  }
}
@media screen and (max-width: 1080px) {
  .card {
    max-width: 80rem;
  }

  .card-img {
    min-width: 40rem;
    max-width: 40rem;
  }
}
/*------------------------------------*\
    CSS FILE END
\*------------------------------------*/
