/*
    Package Name: Website CSS
    Package URI: https://quentinboitel.live/assets/css/app.css
    Description: Webiste Package
    Author: Quentin Boitel
*/
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
p {
  margin: 0;
  padding: 0;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  line-height: 1.5;
  color: black !important;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  max-height: 730px;
  height: 90vh;
  background: url("../images/casual-life-3d-8.png") bottom var(--parallaxY, 0px) right 0px no-repeat;
  background-size: 800px;
  text-align: center;
}

.hero p {
  font-size: 25px;
}

.hero .read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .hero {
    background: url("../images/casual-life-3d-8.png") bottom -100px center no-repeat;
    background-size: 400px;
  }
}

.hero h1,
.title {
  font-size: 69px;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #2f1160 !important;
}

@media (max-width: 768px) {

  .hero h1,
  .title {
    font-size: 59px;
  }
}

.about {
  display: flex;
  padding: 5rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-height: 730px;
  height: 90vh;
  background: url("../images/casual-life-3d-7.png") top var(--parallaxY, 0px) left 0px no-repeat;
  background-size: 800px;
  text-align: center;
}

@media (max-width: 768px) {
  .about {
    height: 125vh;
    margin-top: -120px;
    padding: 2rem 3rem !important;
  }
}

@media (max-width: 1024px) {
  .about {
    padding-top: 10rem;
  }
}

.about p {
  font-size: 25px;
  width: 75%;
}

@media (max-width: 768px) {
  .about p {
    width: 100%;
    font-size: 20px;
    text-align: justify;
  }
}

.about .read-more {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-top: 40px;
}

@media (max-width: 768px) {
  .about .read-more {
    display: none;
  }
}

@media (max-width: 768px) {
  .about {
    background: url("../images/casual-life-3d-8.png") bottom -100px center no-repeat;
    background-size: 400px;
  }
}

.about h2 {
  font-size: 69px;
  line-height: 1.1;
  margin-bottom: 30px;
  color: #2f1160 !important;
}

@media (max-width: 768px) {
  .about h2 {
    font-size: 59px !important;
  }
}

.contact {
  display: flex;
  align-items: center !important;
  justify-content: center;
  flex-direction: column;
}

.feature form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.feature input {
  border: 1px solid #2f1160;
  height: 50px;
  width: 315px;
  border-radius: 4px;
  padding: 0 8px;
  margin: 10px 0;
}

@media (max-width: 1364px) {
  .feature input {
    width: 100%;
  }
}

.feature button {
  height: 50px;
  padding-left: 20px;
  padding-right: 20px;
  background: #2f1160;
  border: none;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;
}

@media (max-width: 1364px) {
  .feature button {
    padding: 0 40px;
  }
}

.feature textarea {
  height: 150px;
  margin: 10px 0;
  width: 315px;
  border: 1px solid #2f1160;
  border-radius: 4px;
  padding: 10px 8px;
  font-family: Arial, sans-serif;
}

@media (max-width: 1364px) {
  .feature textarea {
    width: 100%;
  }
}

/* Feature
    /* ================== */
.feature {
  height: 90vh;
  background-color: #fbfafc;
  display: flex;
  overflow-x: hidden;
  padding: 0 8rem;
  justify-items: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

@media (max-width: 1364px) {
  .feature {
    height: 115vh;
    padding-top: 3rem;
    flex-direction: column;
  }

  .feature div:first-of-type {
    width: 100% !important;
  }

  .feature .illustration {
    position: relative;
    text-align: center;
    top: 0px;
    left: -120px;
    height: 100%;
  }

  .feature .illustration__phone {
    transform: none !important;
  }

  .feature .illustration__laptop {
    transform: none !important;
  }

  .feature .illustration__lights {
    transform: none !important;
  }

  .feature .illustration__cup {
    transform: none !important;
  }

  .feature .illustration__wifi {
    transform: none !important;
  }
}

.feature div {
  width: 50% !important;
  height: auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.feature div:last-of-type {
  height: 75%;
}

@media (max-width: 1024px) {
  .feature .illustration {
    left: -200px;
    width: 100%;
  }
}

@media (max-width: 767px) {
  .feature {
    height: 100%;
    padding: 2rem 4rem;
  }

  .feature .illustration {
    display: none;
  }
}

@media (max-width: 560px) {
  .feature {
    padding: 2rem 2rem;
  }

  .feature h2.title {
    font-size: 40px !important;
  }
}

@media (max-width: 320px) {
  .feature {
    padding: 2rem 1rem;
  }
}

@media (max-width: 768px) {
  #projects {
    margin-top: 50px;
  }

  #projects div:last-of-type {
    width: 100% !important;
  }
}

@media (max-width: 1024px) {
  #projects .illustration {
    left: 0px !important;
    width: 100%;
  }

  #projects div:last-of-type {
    width: 100% !important;
  }
}

@media (max-width: 1364px) {
  #projects .illustration {
    left: 200px;
  }

  #projects div:last-of-type {
    width: 100% !important;
  }
}

.learnmore {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 20px;
  color: #2f1160;
  text-decoration: none;
  position: relative;
}

.learnmore::after {
  content: "";
  display: block;
  width: 24px;
  height: 24px;
  background: url("https://grafikart.fr/demo/JS/Parallaxe/images/arrow.svg") center center no-repeat;
  margin-left: 8px;
}

.learnmore::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #2f1160;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.learnmore:hover::before {
  visibility: visible;
  transform: scaleX(1);
}

.illustration {
  position: relative;
  left: 0px;
  width: 100%;
  height: 100%;
}

.illustration__phone {
  position: absolute;
  left: 9px;
  top: calc(50% - 160px);
}

.illustration__laptop {
  position: absolute;
  left: 299px;
  top: calc(50% - 154px);
}

.illustration__wifi {
  left: 140px;
  top: calc(50% - 168px);
  position: absolute;
}

.illustration__lights {
  position: absolute;
  left: 316px;
  top: calc(50% - 121px);
}

.illustration__cup {
  left: 239px;
  top: calc(50% + 50px);
  position: absolute;
}

.projects .illustration__cup {
  left: 285px;
}

.projects .illustration__lights {
  left: 300px;
}

.contact .illustration__wifi {
  left: 200px;
}

footer {
  height: 15vh;
  padding: 0.5rem 2rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

@media (max-width: 1364px) {
  footer {
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  footer {
    margin-top: 60px;
  }

  footer .illustration {
    position: relative;
    text-align: center;
    margin-bottom: 10px;
  }

  footer .social-links {
    margin-bottom: 0 !important;
  }

  footer p {
    margin-bottom: 20px;
  }
}

@media (max-width: 560px) {
  footer {
    flex-direction: column;
    margin-top: 60px;
  }

  footer .illustration {
    margin-top: 80px;
  }

  footer div:last-of-type {
    width: 100% !important;
  }

  footer .social-links {
    margin-top: 0 !important;
  }

  footer p {
    text-align: center;
  }
}

footer .illustration {
  left: 0;
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer div:last-of-type {
  width: 50%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  justify-content: center;
}

.social-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0;
}

.social-links li {
  padding: 1rem 2rem;
}