/*Start global*/
@font-face {
  font-family: Qanelas;
  src: url('../fonts/Qanelas.otf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
  color: #eee;
}

body {
  width: 100%;
  height: 100%;
  background-color: #659DBD;
  background-size: cover;
}

section {
  padding: 6rem 0;
}

a {
  text-decoration: none;
  color: #eee;
}

p {
  font-size: 1.8rem;
  font-weight: 300;
}

img {
  width: 100%;
}

/*End global*/

/*Start reusable*/
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
}

.section-heading h1 {
  font-size: 3.5rem;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  font-weight: 300;
  position: relative;
  margin-bottom: 1rem;
}

.section-heading h1::before,
.section-heading h1::after {
  content: '';
  position: absolute;
  bottom: -.5rem;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(218, 173, 137, 1);
}

.section-heading h1::before {
  width: 10rem;
  height: 3px;
  border-radius: .8rem;
}

.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 1);
  margin-bottom: 1rem;
}

.has-margin-right {
  margin-right: 5rem;
}

/*End reusable*/

/*Start header*/
header {
  width: 100%;
  height: 100%;
}

.top-nav {
  width: 100%;
  height: 100%;
  position: fixed;
  top: -100vh;
  z-index: 50;
  background-color: #2B7199;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
}

.nav-list {
  list-style: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  margin: 0 2rem;
}

.nav-link {
  font-family: 'Qanelas', sans-serif;
  font-size: 4rem;
  padding: 1rem;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #DAAD86;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  position: absolute;
  top: 0;
  right: 5rem;
  width: 5rem;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-icon {
  margin: 25px auto;
  position: relative;
  width: 54px;
  height: 54px;
  border-radius: 50%;
}

.menu-icon span {
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  width: 22px;
  height: 3px;
  background-color: #FFF;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.menu-icon span::before,
.menu-icon span::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 22px;
  height: 3px;
  background-color: #FFF;
  -webkit-transform: translateY(-8px);
  -ms-transform: translateY(-8px);
  transform: translateY(-8px);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
}

.menu-icon span::after {
  -webkit-transform: translateY(8px);
  -ms-transform: translateY(8px);
  transform: translateY(8px);
}

.menu-icon:hover span::before {
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
}

.menu-icon:hover span::after {
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}

.menu-icon-svg span {
  -webkit-transition: background 0.5s steps(1, end);
  transition: background 0.5s steps(1, end);
}

.menu-icon-svg span::before,
.menu-icon-svg span::after {
  -webkit-transform-origin: 100% 50%;
  -ms-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
}

.menu-icon-svg svg {
  opacity: 0;
  fill: transparent;
  stroke-width: 3px;
  stroke: #FFF;
  stroke-dasharray: 22 230;
  -webkit-transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
  transition: stroke-dasharray 0.5s, stroke-dashoffset 0.5s, opacity 0.5s steps(1, end);
}

.menu-icon-svg.is-opened span {
  -webkit-transition: background 0.5s steps(1, start);
  transition: background 0.5s steps(1, start);
  background-color: transparent;
}

.menu-icon-svg.is-opened span::before {
  -webkit-transform: translateX(-3px) translateY(-8px) rotate(-45deg);
  -ms-transform: translateX(-3px) translateY(-8px) rotate(-45deg);
  transform: translateX(-3px) translateY(-8px) rotate(-45deg);
}

.menu-icon-svg.is-opened span::after {
  -webkit-transform: translateX(-3px) translateY(8px) rotate(45deg);
  -ms-transform: translateX(-3px) translateY(8px) rotate(45deg);
  transform: translateX(-3px) translateY(8px) rotate(45deg);
}

.menu-icon-svg.is-opened svg {
  opacity: 1;
  -webkit-transition: opacity 0.5s steps(1, start);
  transition: opacity 0.5s steps(1, start);
  -webkit-animation: pathanimation 0.5s linear;
  animation: pathanimation 0.5s linear;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.menu-icon-svg.is-closed svg {
  -webkit-animation: pathanimation-out 0.5s linear;
  animation: pathanimation-out 0.5s linear;
}

.landing-text {
  position: relative;
  width: 100%;
  text-align: center;
  z-index: 1;
  margin-top: 250px;
  margin-bottom: 250px;
}

.landing-text h1 {
  font-size: 15rem;
  font-family: 'Qanelas', sans-serif;
  background-color: #DAAD86;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  user-select: none;
  border: none !important;
}

.landing-text h6 {
  font-size: 3rem;
  font-weight: 900;
  background-color: #DAAD86;
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/*End header*/

/*Start about*/
.about .container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 4rem 0;
  margin-bottom: 10rem;
  margin-top: 14rem;
}

.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: .3;
}

.about-heading h6 {
  font-size: 2rem;
  font-weight: 300;
}

.profile-img {
  flex: 1;
  margin: 0 5rem 0 10rem;
}

.profile-img img {
  border-radius: 0.8rem;
}

.about-details {
  flex: 1;
  text-align: justify;
}

.resume {
  margin-top: 2.5rem;
}

.resume i {
  font-size: 5rem;
  transition: color 650ms;
}

.list-inline {
  margin: 0;
  padding: 0;
}

/*End about*/

/*Start portfolio */

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  flex: 1;
}

.portfolio-img img {
  border-radius: 0.8rem;
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h1 {
  font-size: 3rem;
  font-weight: 300;
  font-family: 'Qanelas', sans-serif;
  font-variant: small-caps;
  color: #DAAD86;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Qanelas', sans-serif;
  font-weight: 300;
  opacity: .5;
  color: black;
}

.portfolio-description .cta {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-family: 'Qanelas' , sans-serif;
  color: #2B7199;
  transition: color 650ms;
}

.portfolio-description .cta:hover {
  color: #C96567;
}

/*End services */


/*Start card*/
.experience .container {
  margin-top: -10rem;
  margin-bottom: 6rem;
}

.card {
  position: relative;
  left: 50%;
  margin-top: 24rem;
  margin-bottom: -30rem;
  align-items: center;
  width: 70%;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s;
}

.card a {
  color: inherit;
  text-decoration: none;
}

.card:hover {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
}

.card-date {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 45px;
  height: 45px;
  padding-top: 10px;
  color: #FFF;
  text-align: center;
  line-height: 13px;
  font-weight: bold;
  background-color: #38c4a5;
  border-radius: 50%;
}

.card-date-day {
  display: block;
  font-size: 14px;
}

.card-date-month {
  display: block;
  font-size: 10px;
  text-transform: uppercase;
}

.card-thumb {
  height: 235px;
  overflow: hidden;
  background-color: #000;
  transition: height 0.3s;
}

.card-thumb img {
  display: flex;
  opacity: 1;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.card:hover .card-thumb img {
  opacity: 0.6;
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.card:hover .card-thumb {
  height: 170px;
}

.card-body {
  position: relative;
  padding: 20px;
  height: 140px;
  transition: height 0.3s;
}

.card:hover .card-body {
  height: 250px;
}

.card-category {
  position: absolute;
  left: 0;
  top: -25px;
  height: 25px;
  padding: 0 15px;
  color: #FFF;
  font-size: 11px;
  line-height: 25px;
  text-transform: uppercase;
  background-color: #38c4a5;
}

.card-title {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 22px;
  color: #000;
  font-weight: bold;
}

.card:hover .card-title {
  -webkit-animation: titleBlur 0.3s;
  animation: titleBlur 0.3s;
}

.card-subtitle {
  margin: 0;
  padding: 0 0 10px 0;
  font-size: 19px;
  color: #38c4a5;
}

.card:hover .card-subtitle {
  -webkit-animation: subtitleBlur 0.3s;
  animation: subtitleBlur 0.3s;
}

.card-description {
  position: absolute;
  left: 20px;
  right: 20px;
  bottom: 65px;
  margin: 0;
  padding: 0;
  color: black;
  font-size: 14px;
  line-height: 27px;
  opacity: 0;
  transition: opacity 0.2s, -webkit-transform 0.2s;
  transition: opacity 0.2s, transform 0.2s;
  transition-delay: 0s;
  -webkit-transform: translateY(25px);
  -ms-transform: translateY(25px);
  transform: translateY(25px);
}

.card:hover .card-description {
  opacity: 1;
  transition-delay: 0.1s;
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

/*End card*/

/*Start contact*/
.contact .container {
  margin-top: -6rem;
}

form {
  width: 70%;
  margin: 0 auto;
}

form .mapouter {
  position: relative;
  margin: 0 0 3rem;
  text-align: right;
  height: 400px;
  width: 100%;
}

form .gmap_canvas {
  overflow: hidden;
  background: none !important;
  height: 400px;
  width: 100%;
}

form label {
  font-size: 1.5rem;
}

input,
textarea {
  width: 100%;
  padding: 1rem;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  outline-color: #FBEEC1;
  border-radius: .8rem;
}

input[type="button"] {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  background-color: #20a00f;
  color: #eee;
  padding: 1rem 2rem;
  border-radius: .8rem;
  cursor: pointer;
  transition: background 650ms;
  margin-bottom: 1rem;
}

input[type="button"]:hover {
  color: whitesmoke;
  background-color: #138609;
}

/*End contact*/

/*Start footer*/
.social-media {
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.social-media i {
  font-size: 4rem;
  transition: color 650ms;
}

.fa-github:hover {
  color: white;
}

.copyright {
  width: 100%;
  text-align: center;
  background-color: #2B7199;
  padding: 2rem 0;
  position: relative;
}

.version {
  margin-top: 0.5rem;
}

.up {
  position: absolute;
  width: 5rem;
  height: 5rem;
  background-color: #BC986A;
  top: -2.5rem;
  right: 5rem;
  border-radius: 100%;
  display: flex;
  animation: pulse 1.5s infinite;
  cursor: pointer;
}

.up i {
  color: #FBEEC1;
  font-size: 2rem;
  margin: auto;
}

/*End footer*/

/*Start animations*/
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(188, 152, 106, 0.99);
  }

  70% {
    box-shadow: 0 0 0 10rem rgba(188, 152, 106, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(188, 152, 106, 0);
  }
}

@keyframes titleBlur {
  0% {
      opacity: 0.6;
      text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
  }

  100% {
      opacity: 1;
      text-shadow: 0 5px 5px transparent;
  }
}

@keyframes subtitleBlur {
  0% {
      opacity: 0.6;
      text-shadow: 0 5px 5px rgba(56, 196, 165, 0.6);
  }

  100% {
      opacity: 1;
      text-shadow: 0 5px 5px rgba(56, 196, 165, 0);
  }
}

@keyframes pathanimation {
  40% {
      stroke-dasharray: 22 230;
  }

  60% {
      stroke-dashoffset: -65;
  }

  100% {
      stroke-dashoffset: -65;
      stroke-dasharray: 160;
  }
}

@keyframes pathanimation-out {
  100% {
      stroke-dashoffset: 0;
  }

  60% {
      stroke-dasharray: 22 230;
  }

  40% {
      stroke-dashoffset: -65;
  }

  0% {
      stroke-dashoffset: -65;
      stroke-dasharray: 160;
  }
}
/*End animations*/

/*Start media queries*/
@media screen and (max-width: 768px) {
  header {
    padding: 5rem 0;
  }

  section {
    padding: 0;
  }

  .landing-text h1 {
    font-size: 10rem;
  }

  .landing-text h6 {
    font-size: 1.7rem;
  }

  .nav-list {
    flex-direction: column;
  }

  .nav-list li {
    margin: 2rem 0;
  }

  .nav-link {
    font-size: 4.5rem;
  }

  .about-heading h1 {
    font-size: 8rem;
  }

  .section-heading h1 {
    font-size: 3rem;
  }

  .about-details .nav-list {
    flex-direction: initial;
  }

  .about-details li {
    margin: 0 2rem;
  }

  .about-details {
    padding-left: 4rem;
  }

  .about .container {
    flex-direction: column;
  }

  .profile-img {
    margin-bottom: 7rem;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    margin-bottom: 2rem;
    order: 1;
  }

  .portfolio-description {
    margin: 0;
    order: 2;
  }

  .card-thumb img {
    display: flex;
  }

  .card-description {
    font-size: 10px;
    line-height: 10px;
    bottom: 20px;
  }

  .card-thumb {
    height: 150px;
  }

  .card:hover .card-thumb {
    height: 85px;
  }
}

@media screen and (max-width:600px) {
  header {
    padding: 5rem 0;
  }

  .menu-toggler {
    top: 2rem;
    right: 2rem;
  }

  .landing-text h1 {
    font-size: 8rem;
  }

  .landing-text h6 {
    font-size: 1.4rem;
  }

  .nav-link {
    font-size: 3.5rem;
  }

  /*.about .container {
    flex-direction: column;
  } */

  .about-details {
    padding-left: 3rem;
  }

  .profile-img {
    margin-bottom: 7rem;
  }

  .portfolio-item {
    flex-direction: column;
  }

  .portfolio-img {
    margin-bottom: 2rem;
    order: 1;
  }

  .portfolio-description {
    margin: 0;
    order: 2;
  }

  .card {
    margin-bottom: -10rem;
  }

  form {
    width: 100%;
  }

  .up {
    right: 2rem;
  }
}

/*End media queries*/
