@keyframes pulse {
    0% {
        box-shadow: 0 0 0 0 rgba(184, 58, 27, 0.99);
    }

    70% {
        box-shadow: 0 0 0 20px rgba(184, 58, 27, 0);
    }

    100% {
        box-shadow: 0 0 0 0 rgba(184, 58, 27, 0);
    }
}

@keyframes titleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0 5px 5px rgba(0, 0, 0, 0.6);
    }

    100% {
        opacity: 1;
        text-shadow: 0 5px 5px transparent;
    }
}

@keyframes subtitleBlur {
    0% {
        opacity: 0.6;
        text-shadow: 0 5px 5px rgba(56, 196, 165, 0.6);
    }

    100% {
        opacity: 1;
        text-shadow: 0 5px 5px rgba(56, 196, 165, 0);
    }
}

@keyframes pathanimation {
    40% {
        stroke-dasharray: 22 230;
    }

    60% {
        stroke-dashoffset: -65;
    }

    100% {
        stroke-dashoffset: -65;
        stroke-dasharray: 160;
    }
}

@keyframes pathanimation-out {
    100% {
        stroke-dashoffset: 0;
    }

    60% {
        stroke-dasharray: 22 230;
    }

    40% {
        stroke-dashoffset: -65;
    }

    0% {
        stroke-dashoffset: -65;
        stroke-dasharray: 160;
    }
}