/*Start experience*/
.experience-heading {
    margin-bottom: -27rem;
}

.experience {
    &::after {
        top: -30rem;
        height: 19rem;
    }

    &::before {
        top: -19.5rem;
    }
}

.card {
    position: relative;
    left: 50%;
    margin-top: 49rem;
    margin-bottom: -27rem;
    align-items: center;
    width: 960px;
    border-radius: 15px;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background-color: $bg-white;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s;

    a {
        color: inherit;
        text-decoration: none;
    }

    &:hover {
        box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
        margin-bottom: -32rem;

        &::after {
            top: -27.75rem;
        }

        &::before {
            top: -18.5rem;
        }

        .card-thumb {
            height: 170px;
            border-top-left-radius: 15px;
            border-top-right-radius: 15px;

            img {
                opacity: 0.6;
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
                border-top-left-radius: 15px;
                border-top-right-radius: 15px;
            }
        }

        .card-body {
            height: 250px;
        }

        .card-title {
            -webkit-animation: titleBlur 0.3s;
            animation: titleBlur 0.3s;
        }

        .card-subtitle {
            -webkit-animation: subtitleBlur 0.3s;
            animation: subtitleBlur 0.3s;
        }

        .card-description {
            opacity: 1;
            transition-delay: 0.1s;
            -webkit-transform: translateY(0);
            -ms-transform: translateY(0);
            transform: translateY(0);
        }
    }

    &::before {
        top: -22rem;
    }

    &::after {
        top: -32rem;
        height: 19rem;
    }
}

.card-date {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 45px;
    height: 45px;
    padding-top: 10px;
    color: $text-color-white;
    text-align: center;
    line-height: 13px;
    font-weight: bold;
    background-color: $bg-red;
    border-radius: 50%;
}

.card-date-day {
    display: block;
    font-size: 14px;
}

.card-thumb {
    height: 235px;
    margin-bottom: 0;
    overflow: hidden;
    background-color: $bg-black;
    transition: height 0.3s;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;

    img {
        display: flex;
        opacity: 1;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transition: opacity 0.3s, -webkit-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}

.card-body {
    position: relative;
    padding: 20px;
    height: 100px;
    transition: height 0.3s;
}

.card-category {
    position: absolute;
    left: 0;
    top: -25px;
    height: 25px;
    padding: 0 15px;
    color: $text-color-white;
    font-size: 11px;
    line-height: 25px;
    text-transform: uppercase;
    background-color: $bg-red;
}

.card-title {
    margin: 0;
    padding: 0 0 10px;
    font-size: 22px;
    color: $text-color-black;
    font-weight: bold;
}

.card-subtitle {
    margin: 0;
    padding: 0 0 10px;
    font-size: 19px;
    color: $text-color-red;
}

.card-description {
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 65px;
    margin: 0;
    padding: 0;
    color: $text-color-black;
    font-size: 14px;
    font-weight: 600;
    line-height: 27px;
    opacity: 0;
    transition: opacity 0.2s, -webkit-transform 0.2s;
    transition: opacity 0.2s, transform 0.2s;
    transition-delay: 0s;
    -webkit-transform: translateY(25px);
    -ms-transform: translateY(25px);
    transform: translateY(25px);
}
/*End experience*/