/*Start image*/
.image1 {
    display: inline-block;
    border: 0;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;

    &.fit {
        display: block;
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
    }
}

.image2 {
    display: inline-block;
    border: 0;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    &.fit {
        display: block;
        width: 100%;
    }

    img {
        display: block;
        width: 100%;
    }
}
/*End image*/