/*Start portfolio*/
.portfolio-description {
    flex: 1;

    h1 {
        font-size: 3rem;
        font-weight: 300;
        font-family: 'retro', sans-serif;
        font-variant: small-caps;
        color: $text-color-red;
        margin: 1rem 0;
    }

    h6 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'retro', sans-serif;
        font-weight: 300;
        opacity: .8;
        color: $text-color-black;
    }

    p {
        font-weight: 600;
    }

    .cta {
        display: inline-block;
        margin-top: 2.5rem;
        font-size: 1.5rem;
        text-transform: uppercase;
        font-family: 'retro', sans-serif;
        color: $text-color-lightblue;
        transition: color 650ms;

        &:hover {
            color: $text-color-lightblue;
        }
    }
}

.portfolio {
    margin-bottom: -27rem;
}

.portfolio1 {
    &::after {
        top: -29.75rem;
        height: 19rem;
    }

    &::before {
        top: -20rem;
    }
}

.portfolio2 {
    margin-top: -10rem;

    &::before {
        top: -10rem;
    }

    &::after {
        height: 20rem;
        top: -20rem;
    }
}
/*End portfolio*/