/*Start responsive*/
@media screen and (max-width: 768px) {
    header {
        padding: 5rem 0;
    }

    section {
        padding: 0;
    }

    .landing-text h1 {
        font-size: 10rem;
    }

    .landing-text h6 {
        font-size: 1.7rem;
    }

    .nav-list {
        flex-direction: column;
    }

    .nav-list li {
        margin: 2rem 0;
    }

    .nav-link {
        font-size: 4.5rem;
    }

    .about-heading h1 {
        font-size: 8rem;
    }

    .section-heading h1 {
        font-size: 3rem;
    }

    .about-details .nav-list {
        flex-direction: initial;
    }

    .about-details li {
        margin: 0 2rem;
    }

    .about-details {
        padding-left: 4rem;
    }

    .portfolio-description {
        margin: 0;
        order: 2;
    }

    .card-thumb img {
        display: flex;
    }

    .card-description {
        font-size: 10px;
        line-height: 10px;
        bottom: 20px;
    }

    .card-thumb {
        height: 150px;
    }

    .card:hover .card-thumb {
        height: 85px;
    }
}

@media screen and (max-width:600px) {
    header {
        padding: 5rem 0;
    }

    .menu-toggler {
        top: 2rem;
        right: 2rem;
    }

    .landing-text h1 {
        font-size: 8rem;
    }

    .landing-text h6 {
        font-size: 1.4rem;
    }

    .nav-link {
        font-size: 3.5rem;
    }

    .about-details {
        padding-left: 3rem;
    }

    .portfolio-description {
        margin: 0;
        order: 2;
    }

    .card {
        margin-bottom: -10rem;
    }

    form {
        width: 100%;
    }

    .up {
        right: 2rem;
    }
}

@media screen and (max-width: 1680px) {

    .container {
        width: 960px;
    }

}

@media screen and (max-width: 1080px) {

    .container {
        width: 95%;
    }

    .card {
        width: 95%;
    }

}
/*End responsive*/