$bg-white: #FFF;
$bg-black: #000;
$bg-red: #B83A1B;

$box-line: #000;

$text-color-darkblue: #223645;
$text-color-lightblue: #2B7199;
$text-color-red: #B83A1B;
$text-color-black: #000;
$text-color-white: #FFF;
$text-color-grey: #EEE;
$text-color-alt-grey: #DCDCDC;

$btn-bg-color: #20A00F;
$btn-bg-hover-color: #138609;
$btn-text-hover-color: #F5F5F5;